nav{
    style:none;
}

.navbar.navbar-light.bg-light{
background-color: #f2f2f2!important;
}

.dropdown-toggle::after{
    color: #6D726F;
}

.navbar-brand{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 26px;
    font-style: italic;
    color: #6B8353!important;
}

.fa-instagram:before{
    color: #6B8353;
}

#nav-tab{
    text-align: center;
}

.mb-3, .my-3{
    margin-bottom: 0rem!important;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    background-color: white;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    background-color: #6B8353;
    color: white;
}

.nav-pills .nav-link, .nav-pills .show>.nav-link{
    background-color: white;
    color: #6B8353;
}

.fit-image{
width: 100%;
object-fit: cover;
height: 300px; /* only if you want fixed height */
}

.col-sm{
    padding: 1px;
}

#message-text{
    margin-left: 16px;
    margin-right: 16px;
    width: auto;
}

.modal-header{
    border-bottom: 0px;
}

body{
	background: #E7E6E7;
	margin: 0px 0px 0px 0px;
	}

.posts{
	width: 50%;
	margin-left: 25%;
	margin-top: 20px;
	background: white;
	}

.post{
	display: inline-block;
	width: 88%;
	padding-left: 2%;
	height: auto;
    margin-top: 1%;
	}

.post1{
    display: inline-block;
	width: 88%;
	padding-left: 2%;
    padding-bottom: 2%;
}

.numbers{
	display: inline-block;
	width: 8%;
	text-align: right;
	padding-right: 2%;
    }

span{
	color: gray;
	}

img{
	width: 100%;		}

p{
	padding: 2%;
	margin: auto;
	}

footer{
	margin: 5%;
	}

